*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(158, 169, 180);
    height: 80px;
    position: sticky;
    top: 0;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.box-wrap{
    display: flex;
   justify-content: space-between;
   align-items: center;
   height: 85px;
}
.logo img{
    height: 60px;
    width: 150px;
    
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(9, 9, 9);
    padding: 15px 20px;
    font-size: 18px;
    display: block;
    font-weight: 500;
    transition: 1.9s;
}
.loging-menu{
    font-size: 18px;
    font-weight: 500;
    
    
    
}
.menu ul li a:hover {
    background-color: #fff;
    border-radius: 20px;
}
.loging-menu a{
    
    text-decoration: none;
    
    transition: .9s;
    
}
.loging-menu a:hover{
    background-color: #23073b;
    color: #fff;
    opacity: 4;
}

/*  =====================
    Slider CSS start Here
    =====================
*/
.slider-area {
    background: url('./img/pexels-walid-ahmad-847402.jpg');
    height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.slide-wraper {
    padding: 100px;
    text-align: center;
}
.slide-wraper h1 {
    font-size: 50px;
    font-weight: 500;
    color: red;
    font-family: cursive;
}
    .slide-wraper p {
        font-size: 20px;
        font-weight: 500;
        color: #f9f9f9;
    }
    button.slide-button {
        padding: 10px 25px;
        background: none;
        font-size: 20px;
        border: 1px solid #1A355B;
        border-radius: 5px;
        font-family: cursive;
        transition: .9s;
        margin-top: 20px;
        text-decoration: none;
    }
    .slide-button a{
        text-decoration: none;
        color: #46e3db;
        
    }
    button.slide-button:hover {background-color: #ffffff;
       
    }


    /* *  =====================
    blog CSS start Here
    =====================
    */ 
    .blog-area {
        padding: 80px 0;
    }

    .section-title {
        text-align: center;
        width: 65%;
        margin: 0 auto;
    }
    .section-title h1 {
        font-size: 45px;
        font-weight: 500;
        font-family: cursive;
        margin: 0;
        padding: 20px 0;
    }
    .section-title p {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    
    .blogs, .services {
        display: flex;
        justify-content: space-between;
    }
    
    .single-blog, .single-service {
        width: 23%;
    }
    .single-blog img, .single-service img {
        width: 100%;
    }
    
    .blog-meta h2 {
        margin: 0;
        padding: 10px 0;
        font-family: cursive;
    }
    .blog-meta p {
        font-size: 18px;
        font-weight: 500;
    }
    
    button.blog-button {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        transition: .9s;
    }
    
    button.blog-button:hover {
        background-color: #0caca4;
        color: #fff;
    }

    /* *  =====================
    about CSS start Here
    =====================
*/ 
    .about-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .about-left {
        width: 45%;
    }
    
    .about-right {
        width: 45%;
    }
    
    .about-left img {
        width: 100%;
    }
    
    .about-right h2 {
        font-size: 45px;
        font-family: cursive;
        margin: 0;
    }
    
    .about-right p {
        font-size: 17px;
        font-weight: 500;
    }
    
    .about-area {
        background-color: #f3f3f3;
        padding: 100px 0;
    }
    
    .service-area {
        padding: 80px 0;
    }
    /*  =====================
    newsletter CSS start Here
    =====================
*/ 
    .newsletter-area{
        background: url(./img/pexels-gabii-fernandez-16616460.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;
        position: relative;
        z-index: 1;
    }
    .newsletter-wrapper h2{
        font-size: 50px;
        font-weight: 500;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 100px;
        text-align: center;
        margin-top:50px;
    }
    .newsletter-area::after{
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background: #000;
        height: 100%;
        width: 100%;
        opacity: .6;
        z-index: -1;
    }
    .newsletter-wrapper {
        position: absolute;
        z-index: 2;
        color: #fff;
        height: 100%;
        width: 1178px;
    }
    
/*  =====================
    form CSS start Here
    =====================
*/ 
.form{
    background: url(./img/imgg/pexels-yury-gargay-14471495.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}
.container{}
.form-wrapper form{
    width: 500px;
}
.form-wrapper input, .form-wrapper textarea{
    display: block;
    width: 400px;
    padding: 11px 18px;
    margin: 10px 0;
    background: none;
    border: 2px solid white;
    border-radius: 7px;
    
   
}
#pop{
    color: #f6f6f6;
    font-size: 15px;
    text-align: center;
    
    
}

.form-wrapper{
    margin: 0 auto;
    width: 425px;
}
::placeholder{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    
}
.hov{
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: .7s;
}
.hov:hover{
    background-color: #62cdf1;
}

/*  =====================
    footer services CSS start Here
    =====================
*/ 
.footer-services{
    background-color: rgb(186, 188, 190);
}
.our-services{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.single-footer-top ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}
.single-footer-top ul li a{
    text-decoration: none;
    color: rgb(6, 6, 6);
    display: block;
}
..single-footer-top ul li{
    padding: 6px 0;
}
.single-footer-top h2{
    font-size: 34px;
    font-weight: 500;
    color: #fff;
}








.footer-area {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #f3f3f3;
    padding: 30px 0;
}    